<!DOCTYPE html>
<html>

<head>
  <title>放假回報</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <header>
    <div name="Title" class="jumbotron  mb-0 ">
      <div class="text-center  align-self-center">
        <h1>放假回報</h1>
      </div>
    </div>
  </header>
  <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
    <div id="input" style="text-align:center">
      <label>請輸入你的學號末兩碼</label>
      <input type="number" id="number" min="17" max="32" required>
      <br>
      <label>回報時間</label>
      <select>
        <option value="11時回報">11時回報</option>
        <option value="19時回報">19時回報</option>
        <option value="14時回報">14時回報</option>
        <option value="到家回報">到家回報</option>
      </select>
      <br>
      <input type="text" placeholder="請輸入回報內容">
      <button id="send">傳送</button>
      <pre id="include"></pre>
      <button id="duplicate">複製</button>
      <button id="refresh">刷新</button>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      var dt = new Date();
      $.post("/refresh", { when: (parseInt(dt.getFullYear()) - 1911).toString() + "/" + (parseInt(dt.getMonth()) + 1).toString() + "/" + dt.getDate().toString() + " " + $("select").val() }, function (result) {
        $("pre").html(result);
      })
    })
  </script>
</body>

</html>