<!DOCTYPE html>
<html>

<head>
    <title>放假回報</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div name="Title" class="jumbotron  mb-0 ">
            <div class="text-center  align-self-center">
                <h1>放假回報</h1>
            </div>
        </div>
    </header>
    <div class="container" style="font-family:Microsoft JhengHei;font-size:100%">
        <div id="input" style="text-align:center">
            <label>請輸入你的學號末三碼</label>
            <input type="number" id="number">
            <br>
            <label>回報時間</label>
            <select id="select">
                <option id="option1" value=""></option>
                <option id="option2" value=""></option>
                <option id="option3" value=""></option>
            </select>
            <br>
            <input type="text" id="text" placeholder="請輸入回報內容">
            <button id="send">傳送</button>
            <pre id="include"></pre>
            <button id="duplicate">複製</button>
            <button id="refresh">刷新</button>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var token = encodeURI('<%=token%>');
            //console.log(token);
            var dt = new Date();
            var now = dt.getHours();
            var select = document.getElementById("select");
            const times = token.split('~');
            $("#option1").val(times[4] + "時回報");
            $("#option2").val(times[5] + "時回報");
            $("#option3").val(times[6] + "時回報");
            $("#option1").html(times[4] + "時回報");
            $("#option2").html(times[5] + "時回報");
            $("#option3").html(times[6] + "時回報");
            if (now <= parseInt(times[4]) + 1)
                select.options[0].selected = true;
            else if (now <= parseInt(times[5]) + 1)
                select.options[1].selected = true;
            else
                select.options[2].selected = true;
            if (localStorage.getItem("num"))
                $("#number").val(localStorage.getItem("num"));
            $.post("/refresh", { token: token, when: (parseInt(dt.getFullYear()) - 1911).toString() + "/" + (parseInt(dt.getMonth()) + 1).toString() + "/" + dt.getDate().toString() + " " + $("select").val() }, function (result) {
                $("pre").html(result);
            })
            $("#send").click(function () {
                if (parseInt($("#number").val()) >= 0) {
                    $.post("/send", { token: token, when: (parseInt(dt.getFullYear()) - 1911).toString() + "/" + (parseInt(dt.getMonth()) + 1).toString() + "/" + dt.getDate().toString() + " " + $("select").val(), who: parseInt($("#number").val()).toString(), what: $("#text").val() }, function (result) {
                        $.post("/refresh", { token: token, when: (parseInt(dt.getFullYear()) - 1911).toString() + "/" + (parseInt(dt.getMonth()) + 1).toString() + "/" + dt.getDate().toString() + " " + $("select").val() }, function (result) {
                            $("pre").html(result);
                            $("#text").val('');
                        })
                    })
                    localStorage.setItem("num", $("#number").val().toString());
                } else {
                    alert('請檢查你的學號是否輸入正確');
                }
            });
            $("#refresh").click(function () {
                $.post("/refresh", { token: token, when: (parseInt(dt.getFullYear()) - 1911).toString() + "/" + (parseInt(dt.getMonth()) + 1).toString() + "/" + dt.getDate().toString() + " " + $("select").val() }, function (result) {
                    $("pre").html(result);
                })
            });
            function Copy(str) {
                var clip_area = document.createElement('textarea');
                clip_area.textContent = str;
                document.body.appendChild(clip_area);
                clip_area.select();
                document.execCommand('copy');
                clip_area.remove();
                alert("已複製好，可黏貼");
            }
            $("#duplicate").click(function () {
                Copy($("pre").html().replace(/<[^>]+>/g, ""));
            })
            $("select").change(function () {
                $.post("/refresh", { token: token, when: (parseInt(dt.getFullYear()) - 1911).toString() + "/" + (parseInt(dt.getMonth()) + 1).toString() + "/" + dt.getDate().toString() + " " + $("select").val() }, function (result) {
                    $("pre").html(result);
                })
            });
        })
    </script>
</body>

</html>